:root {
	--vh: 100%;
}

/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
	font-family: 'Escoredream';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
	font-weight: 600;
	font-display: swap;
}

/* Normalize */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

.img {
	width: 100%;
	height: auto;
}

/*********************************/
body {
	height: calc(var(--vh, 1vh) * 100);
	font-family: 'Pretendard';
	overflow: hidden;
}

.wrap {
	position: relative;
	max-width: 430px;
	width: 100%;
	height: 100%;
	background-color: #e6f2fe;
	margin: auto;
	overflow: auto;
}

.before_btn {
	position: absolute;
	top: 40px;
	left: 16px;
	width: 24px;
	height: 24px;
	outline: none;
	border: none;
	background: url('../img/btn-back.svg') no-repeat center;
	z-index: 999;
	cursor: pointer;
}

.banner {
	position: relative;

	.timer {
		position: absolute;
		bottom: 35%;
		left: 50%;
		transform: translateX(-50%);
		min-width: 220px;
		font-size: 15px;
		letter-spacing: -0.3px;
		color: #222;
		border: 1px solid #7da6ff;
		border-radius: 4px;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 2;
		padding: 8px 17px;
		white-space: nowrap;

		strong {
			color: #9916ff;
			letter-spacing: -0.32px;
			font-size: 16px;
			margin-left: 8px;
		}
	}
}

.gorup_1 {
	padding: 2px 16px 40px;

	.quize_info {
		width: 270px;
		margin: auto;

		.title_wrap {
			display: flex;
			justify-content: center;
			align-items: center;

			&::before {
				content: "";
				width: 60px;
				height: 1px;
				background-image: linear-gradient(to left, #0f2db3, rgba(15, 45, 179, 0));
				margin-right: 14px;
			}

			&::after {
				content: "";
				width: 60px;
				height: 1px;
				background-image: linear-gradient(to right, #0f2db3, rgba(15, 45, 179, 0));
				margin-left: 14px;
			}
		}

		h2 {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			letter-spacing: -0.32px;
			color: #0f2db3;

			&::before {
				content: "";
				width: 24px;
				height: 24px;
				background: url('../img/notice@3x.png') no-repeat center/contain;
				margin-right: 6px;
			}
		}

		.cont1 {
			display: flex;
			align-items: center;
			margin-top: 20px;

			&::before {
				content: "";
				width: 37px;
				height: 37px;
				background: url('../img/box@3x.png') no-repeat center/contain;
				margin-right: 10px;
			}

			p {
				font-size: 15px;
				color: #111111;

				strong {
					display: block;
					color: #0f2db3;
				}
			}
		}

		.cont2 {
			font-size: 13px;
			line-height: 1.23;
			color: #111;
			margin-top: 12px;
		}
	}

	.quize_wrap {
		position: relative;
		height: 347px;
		text-align: center;
		border-radius: 12px;
		background-color: #fff;
		margin-top: 38px;
		padding: 0 16px;

		.label {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 110px;
			height: 22px;
			font-size: 12px;
			font-weight: 600;
			color: #fff;
			border-radius: 17px;
			background-color: #0f2db3;
			margin: 27px auto 0;
		}

		.quize {
			display: flex;
			justify-content: center;
			height: 80px;
			margin: 16px 0;
			overflow-y: auto;

			.quize_inner {
				font-size: 20px;
				font-family: 'Escoredream';
				line-height: 1.5;
				color: #000;
				margin: auto 0;
			}
		}

		.btn_wrap {
			display: flex;
			justify-content: center;
			column-gap: 20px;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 84px;
				height: 60px;
				font-family: inherit;
				color: inherit;
				outline: none;
				border-radius: 10px;
				border: 1px solid #e0e8ee;
				background-color: #fff;
				cursor: pointer;

				&:hover {
					background-color: #f3faff;
				}

				&.answer_o::before {
					content: "";
					display: block;
					width: 30px;
					height: 30px;
					background: url('../img/quiz-correct-answer.svg') no-repeat center/contain;
				}

				&.answer_x::before {
					content: "";
					display: block;
					width: 30px;
					height: 30px;
					background: url('../img/quiz-wrong-answer2.svg') no-repeat center/contain;
				}
			}
		}

		.cont {
			font-size: 13px;
			font-weight: 600;
			color: #777;
			margin-top: 30px;

			span {
				color: #126ccd;
			}
		}

		/* 정답, 오답 */
		.correct_label {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 54px;
			height: 30px;
			font-size: 18px;
			font-weight: 500;
			color: #fff;
			border-radius: 6px;
			background-color: #0084fd;
			margin: 24px auto 0;
		}

		.wrong_label {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 54px;
			height: 30px;
			font-size: 18px;
			font-weight: 500;
			color: #fff;
			border-radius: 6px;
			background-color: #f44;
			margin: 24px auto 0;
		}

		.answer {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 84px;
			height: 60px;
			border-radius: 10px;
			border: 1px solid #e0e8ee;
			background-color: rgba(224, 232, 238, 0.2);
			margin: 6px auto 0;

			&.answer_o::before {
				content: "";
				width: 30px;
				height: 30px;
				background: url('../img/quiz-correct-answer.svg') no-repeat center/contain;
			}

			&.answer_x::before {
				content: "";
				width: 30px;
				height: 30px;
				background: url('../img/quiz-wrong-answer2.svg') no-repeat center/contain;
			}
		}

		.result {
			display: flex;
			justify-content: center;
			height: 48px;
			margin: 20px 0 24px;
			overflow-y: auto;

			.result_inner {
				font-size: 13px;
				line-height: 1.23;
				color: #777;
				margin: auto 0;
			}
		}

		.next_btn {
			width: 100%;
			height: 44px;
			font-family: inherit;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: -0.32px;
			color: #fff;
			outline: none;
			border: none;
			border-radius: 8px;
			background-color: #0f2db3;
		}

		/* 완료 */
		.prize_wrap {

			&.prize_wrap2 {
				.prize {
					&::before {
						background: url('../img/point@3x.png') no-repeat center/contain;
					}
				}

				.prize_cont {
					margin-top: 7px;
				}
			}

			.prize_finish {
				font-size: 16px;
				color: #777;
				margin-top: 32px;
			}

			.prize {
				font-size: 20px;
				line-height: 1.15;
				color: #0084fd;

				&::before {
					content: "";
					display: block;
					width: 84px;
					height: 84px;
					background: url('../img/confetti@3x.png') no-repeat center/contain;
					margin: 14px auto 16px;
				}

				&.coin {
					&::before {
						background: url('../img/point@3x.png') no-repeat center/contain;
					}
				}
			}

			.prize_cont {
				font-size: 16px;
				font-weight: 600;
				line-height: 1.25;
				color: #222;
				margin-top: 12px;

				&.mt_7 {
					margin-top: 7px;
				}
			}
		}

		.quize_bar {
			position: absolute;
			bottom: -22px;
			left: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 44px;
			border-radius: 200px;
			background-color: #f8f8f8;
			padding: 0 22px 0 31px;

			.completion {
				display: flex;
				align-items: center;
				column-gap: 10px;

				span {
					width: 26px;
					height: 26px;
					background: url('../img/quiz-1.svg') no-repeat center;

					&.correct {
						background: url('../img/quiz-right-answer@3x.png') no-repeat center/contain;
					}

					&.wrong {
						background: url('../img/quiz-wrong-answer.svg') no-repeat center/contain;
					}
				}
			}

			.completion_title {
				font-size: 14px;
				letter-spacing: -0.28px;
				color: #222;

				span {
					color: #9a9a9a;
				}
			}
		}
	}
}

.quize_cont {
	display: flex;
	align-items: center;
	font-size: 15px;
	line-height: 1.33;
	letter-spacing: -0.3px;
	color: #1c1356;
	margin-top: 47px;

	&.prize {
		&::before {
			background: url('../img/prize@3x.png') no-repeat center/contain;
		}
	}

	&::before {
		content: "";
		width: 38px;
		height: 38px;
		background: url('../img/challenge@3x.png') no-repeat center/contain;
		margin-right: 8px;
	}

	strong {
		display: block;
	}
}

.box {
	border-radius: 12px;
	background-color: #0f2db3;
	padding: 24px 20px 30px;


	h2 {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: -0.32px;
		color: #fff;
	}

	p {
		font-size: 13px;
		letter-spacing: -0.26px;
		color: #7d94ff;
		margin-top: 12px;
	}

	ul {
		border-top: 1px solid #7d94ff;

		li {
			display: flex;
		}
	}
}

.box1 {
	margin-top: 36px;

	ul {
		margin-top: 20px;
		padding-top: 19px;

		li {
			justify-content: space-between;

			&:not(:last-child) {
				margin-bottom: 12px;
			}

			span {
				font-size: 14px;
				color: #fff;
			}

			strong {
				font-size: 14px;
				font-weight: 600;
				color: #ffe11c;

				span {
					color: inherit;
					font-weight: inherit;
					margin-left: 6px;
				}
			}
		}
	}
}

.box2 {
	padding-bottom: 20px;
	margin-top: 16px;

	p {
		line-height: 1.38;
	}

	ul {
		margin-top: 18px;
		padding-top: 18px;

		li {
			position: relative;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			span {
				display: flex;
				align-items: center;
				font-size: 14px;
				color: #ffe11c;
			}

			strong {
				font-size: 14px;
				font-weight: 600;
				color: #fff;

				&::before {
					content: ":";
					margin: 0 4px 0 6px;
				}
			}
		}

		li span::before {
			content: "";
			width: 42px;
			height: 42px;
			margin-right: 16px;
		}

		li:nth-child(1) span::before {
			background: url('../img/gold@3x.png') no-repeat center/contain;
		}

		li:nth-child(2) span::before {
			background: url('../img/npay@3x.png') no-repeat center/contain;
		}

		li:nth-child(3) span::before {
			background: url('../img/chicken@3x.png') no-repeat center/contain;
		}

		li:nth-child(4) span::before {
			background: url('../img/coffee@3x.png') no-repeat center/contain;
		}

		li span::after {
			content: "";
			position: absolute;
			left: 34px;
			width: 20px;
			height: 28px;
		}

		li:nth-child(1) span::after {
			background: url('../img/1.svg') no-repeat center;
		}

		li:nth-child(2) span::after {
			background: url('../img/2.svg') no-repeat center;
		}

		li:nth-child(3) span::after {
			background: url('../img/3.svg') no-repeat center;
		}
	}
}

.gorup_2 {
	background-color: #050024;
	padding: 30px 20px 38px;

	h3 {
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		margin-bottom: 14px;

		&:not(:first-child) {
			margin-top: 26px;
		}
	}

	p {
		font-size: 13px;
		line-height: 1.23;
		color: #b8acff;
	}

	p:not(h3 + p) {
		margin-top: 8px;
	}

	ul {
		margin-top: 4px;

		li {
			font-size: 13px;
			line-height: 1.23;
			color: #b8acff;

			&::before {
				content: "-";
				margin-right: 3px;
			}
		}
	}
}